/* styles/AnimatedText.module.css */
.backend {
  background-color: rgb(26, 26, 26);
}

div.noticia {
  width: 90%;
  margin: 20px auto;
  background-color: rgb(35, 35, 35);
  color: #fff;
  padding: 15px;
  min-height: 25vh;
  box-sizing: border-box;
  display: flex; /* Usa flexbox para organizar los elementos */
  flex-direction: row-reverse; /* Inicialmente coloca la imagen a la derecha y el texto a la izquierda */
}

div.noticia img.izquierda,
div.noticia img.derecha {
  width: 27%;
  margin: 0 15px;
  box-sizing: border-box;
}

div.reset {
  clear: both;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  div.noticia {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
    align-items: center; /* Centra los elementos en la columna */
    font-size: 12px;
  }

  div.noticia img.izquierda,
  div.noticia img.derecha {
    width: 100%;
    margin: 10px 0;
  }
}
