/* styles/AnimatedText.module.css */
.backend{background-color: rgb(26, 26, 26);}

div.noticia {
  width: 90%;
  margin: 20px auto;
  background-color: rgb(35, 35, 35);
  color: #fff;
  padding: 15px;
  height: 25vh;
}

div.noticia img.izquierda {
  float: left;
  margin-right: 15px;
  width: 16%;
}

div.noticia img.derecha {
  float: right;
  margin-left: 15px;
  width: 16%;

}

div.reset {
  clear: both;
}

  @media(max-width: 600px){
      .backend_card {
        width: 100%;
      }
    }

    .aside {
      font-size: 12.2px;
    }


  